[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.brand {
    width: 80px;
    top: -30px;
    position: relative;
    top: -10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.page-header {
    margin-top: 0px;
}

    .page-header h1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

.navbar {
    margin-bottom: 0px;
}

.mfb-component__button--main {
    background-color: #178cd2;
    color: #ffffff !important;
}

    .mfb-component__button--main:hover {
        background-color: #044a8d;
        color: #ffffff !important;
    }

.mfb-component__button--child {
    color: #ffffff !important;
}

.b-red, .b-red:after {
    background-color: #e95420 !important;
    color: #ffffff !important;
}

    .b-red:hover {
        background-color: #b1261b !important;
        color: #ffffff !important;
    }

.b-green, .b-green:after {
    background-color: #38b44a !important;
    color: #ffffff !important;
}

    .b-green:hover {
        background-color: #2c8b3a !important;
        color: #ffffff !important;
    }

.b-violet, .b-violet:after {
    background-color: #b33e7e !important;
    color: #ffffff !important;
}

    .b-violet:hover {
        background-color: #832e5c !important;
        color: #ffffff !important;
    }

[data-mfb-label]:first-child:after {
    background-color: #178cd2;
}

.div-loader {
    position: relative;
    top: 0px;
}



.form-group {
    margin-bottom: 0px;
}

    .form-group label {
        /*font-size: 11px;*/
        font-weight: normal;
        margin-bottom: 2px;
        color: grey;
    }

.modal-dialog {
    width: 360px;
}

.select2-container {
    /*display: block;*/
    width: 100% !important;
}

#modPatient .panel-v .select2-container {
    width: 154px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 100%;
}

textarea {
    font-size: 12px !important;
}



/*.select2-container .select2-selection--single {
    height: 30px;
}*/

.select2-container .select2-selection--single {
    height: 28px;
}


tr .hid-icon, tr:hover tr .hid-icon1, tr tr .hid-icon1 {
    display: none;
}

tr:hover .hid-icon {
    display: inline;
}

.cor-div{
    margin-top:6px!important;
}
/*tr .hid-icon1 {
            display: none;
        }*/

tr:hover tr:hover .hid-icon1 {
    display: inline;
}

/*.btn-xs {
    padding-top: 2px;
    padding-right: 1px;
    padding-left: 1px;
    width: 24px;
    height: 24px;
}*/

.red {
    color: red;
}

.green {
    color: green;
}

.ta-exp {
    display: block;
    width: 100%;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.alert {
    padding: 8px 12px;
    margin-bottom: 0px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 10px;
}

/* file upload */
/*.drop-box {
    background: #F8F8F8;
    border: 5px dotted #DDD;
    height: 100%;
    text-align: center;
    padding: 10px;
}*/

.dragover {
    border: 5px dotted #008CBA;
}

#editEventWithdraw .panel-v {
    border: 1px solid #772953;
}

 #editEventWithdraw .panel-v .panel-heading {
        background-color: #772953;
        color: white;
    }

.panel h3 {
    font-size: 14px !important;
    font-weight:bold;
}

.modal-body {
    padding: 0px 25px 10px 25px;
    background-color:#e3f2fb;
}

.panel-body {
    padding: 0px 15px 15px 15px;
}

#editEventWithdraw .panel-heading {
    padding: 5px 15px 0px 5px !important;
}

.panel-info {   
    /*margin-top: 10px;*/
}

.input-group-addon {
    padding: 2px 10px;
}

.form-control {
    height: 28px;
    padding: 3px 12px;
    /*font-size: 14px;
    font-weight:bold;*/
}

.moment-picker .moment-picker-container {
    color: #404040;
    min-width: 13em;
    border-color: #cccccc;
    margin-top: 2px;
    margin-left: -.5em;
    left: 8px;
}

.moment-picker .moment-picker-container {
    min-width: 13em;
}

.moment-picker .moment-picker-container {
    min-width: 13em;
}

.modal-dialog .moment-picker .moment-picker-container:before,
.modal-dialog .moment-picker .moment-picker-container:after {
    display: none;
}

.moment-picker table {
    /*font-size: 12px;*/
}

.filters {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 7px 20px;
    height:45px
}

.page-header {
    margin: 0px;
}

.btn-r {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.label-norm a {
    width: auto !important;
    padding: 3px 2px;
    margin:1px;
    /*font-size:11px;*/
}

.dis-date {
    color: #ffffff;
    font-weight: bold;
    margin: 3px 0px 6px 6px;
    padding: 0px;
    display: inline-block;
}

.dis-param {
    padding: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #f0f0f0;
}

input[disabled], select[disabled], textarea[disabled] {
    background-color: #f0f0f0;
}

.table-responsive table td, .table-responsive table th {
    font-size: 13px !important;
    /*height: 43px;*/
}

.profilePic {
    width: 26px;
    /*-webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    object-fit: cover;
    margin-left: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.td-im{
    padding:2px!important;
    vertical-align:middle!important;
}

.td-im span{
    padding:10px;
}

    .profilePic:hover {
        -webkit-transform: scale(4);
        -moz-transform: scale(4);
        -o-transform: scale(4);
        transform: scale(4);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

.linkDisabled {
    cursor: not-allowed;
    pointer-events: none;
    /*color: grey;*/
    background-color: #dddddd !important;
    border: none !important;
}

.ex-top {
    width: auto;
}

.div-disabled {
    position: absolute;
    z-index:10000;
    left: 0px;
    top: 0px;
    background-color: #dddddd;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5; /* Good browsers */
}
.arc-lbl{
    margin-right:5px;
    font-size:12px;
    position:relative;
    top:-2px;
}

/* loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #efb73e;
  border-right: 16px solid #38b44a;
  border-bottom: 16px solid #772953;
  border-left: 16px solid #e95420;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.div-loader{
    width: 120px; 
    margin: 120px auto; 
    text-align: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*.int-modal .modal-dialog  {width:440px;}
.int-modal {top:200px}*/


h4{
    color:#aea79f;
    font-weight:bold;
}
.fs-13{
    font-size:13px;
}

.rep-card .select2-selection__rendered{
    font-weight:bold;
}
.rep-card .select2-container {
    width: 100% !important;
}
.rep-card .btn-sm, #repPatientCard .btn-group-sm>.btn {
    padding: 5px 9px; 
    margin-left:4px;
}

.rep-card .btn-sm:last-child, #repPatientCard .btn-group-sm>.btn:last-child {
    margin-left:0px;
}

.rep-card .btn-sm:first-child, #repPatientCard .btn-group-sm>.btn:first-child {
    padding: 5px 10px; 
}

.btn-r .dropdown-menu {
    left: 0!important;
    right: auto!important;
}

@media screen and (min-width: 768px) {
	#modPatient .modal-dialog  {width:750px;}
}

/*@media (max-width: 768px) {
    .cont-fw {
         min-width:750px;
    }
}*/

.top-b
{
    color:#e95420!important;
    text-decoration:none!important;
    margin-left:5px;
}
.top-b:hover
{
    color:#c34113!important;
    text-decoration:none!important;
}

.top-ul{
    list-style-type: none; 
    width: auto; 
    padding-right: 0px; 
    font-size: 36px; 
    font-family: Tahoma,'Helvetica Neue',Helvetica,Arial,sans-serif; 
    font-weight: 500;
     margin-top: 0px;
     margin-bottom:0px;
     margin-left:10px;
}

.btn-p{
    padding-right:10px!important;
    padding-left: 10px!important;
    margin: 0px 2px;
}
.btn-a
{
    width:auto;
    padding-left:4px;
    padding-right:4px;
    color:white!important;
    border-color:#d02d20;
}

.btn-b{
    width:auto;
    padding:4px 5px 3px;
    height:auto;
    margin: 0px 1px;
}
.zero{
    color:white;
}
.zero:focus{
    color:black;
}
.dep-sel .select2-container, .dep-sel input{
    width:140px!important;
}
.e-inst-color {
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
    /*height:16px;*/
}
.e-card-h {
    color: #1995dc;
}


/* file upload */
.drop-box {
    background: #FFFFFF;
    border: 2px dotted #DDD;
    height: 100%;
    text-align: center;
    padding-top: 0px;
}

.drop-box-min {
    background: #e7f5e5;
    border: 2px dotted #43ac6a;
    height: 100%;
    text-align: center;
}

.dragover {
    border: 5px dotted #008CBA;
}
.p-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.modal-footer, .modal-header {
    border: none !important;
}
.b-check a{
    border-color:#cccccc;
    font-size: 11px !important;
}

#editCourse .nav>li>a {
    padding: 3px 15px;
}
#editCourse .nav>li>a:hover {
    background-color:#bce0f5;
}
#crsTabs {
    background-color: white;
    min-height: 314px;padding: 10px 20px;
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    border-top:none;
}
#crsTabs table td,#crsTabs table th {
    font-size:11px!important;
}
#crsTabs table th {
     border-bottom:none;
}
#crsTabs table td{
    height:40px;
    cursor:pointer;
    border-color:#dddddd;
    border-left-style:dashed;
    border-right:none;
    border-bottom-color:silver;
    padding: 0px;
    /*border-bottom-width:2px;*/
}
#crsTabs table th{
    background-color: #eeeeee;
    text-align:center;
}

#crsTabs table tr td:first-child{
    border-left-style:solid;
    background-color: #eeeeee;
    text-align:center;
}

#crsTabs table{
    margin-top:15px;
    margin-bottom:10px!important;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 5px 8px!important;    
}
.inp-d {
    font-size: 14px;   
}