<div data-ng-show="selectedPage==0">
    <ul class="nav nav-tabs" style="margin-top:0px;padding-right: 2px;">
        <li class="active"><a href="#mytickets" data-toggle="tab" data-ng-click="search.Type=1">פניות שלי למעקב</a></li>
        <li data-ng-show="currentUser.Permission==2" data-ng-class="{'active': search.Type==0}"><a href="#ticketstodo" data-toggle="tab" data-ng-click="search.Type=0">פניות לטיפולי</a></li>
    </ul>
</div>

<div class="tab-content">
    <div id="ticketstodo" class="tab-pane fade in">
<table data-ng-if="selectedPage==0" class="table table-hover">
    <thead>
        <tr>
            <th data-ng-repeat="(c,h) in colHebDic[selectedPage]" style="white-space: nowrap;">
                <div data-ng-bind-html="sortLink(c)" compile-template></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="w in data.TicketsToDo | orderBy : sort.idTicket : sort.Desc | limitTo : gridPager.Size : gridPager.Skip"
            data-ng-click="editTicket(w)">
            <td data-ng-bind="w.idTicket"></td>
            <td data-ng-bind="w.DisplayName"></td>
            <td data-ng-bind="w.CategoryName"></td>
            <td data-ng-bind="w.Building"></td>
            <td data-ng-bind="w.TimeOpen"></td>
            <td data-ng-bind="w.Status"></td>
        </tr>
    </tbody>
</table>
        </div>

    <div id="mytickets" class="tab-pane fade active in">
        <table data-ng-if="selectedPage==0" class="table table-hover">
            <thead>
                <tr>
                    <th data-ng-repeat="(c,h) in colHebDic[1]" style="white-space: nowrap;">
                        <div data-ng-bind-html="sortLink(c)" compile-template></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="w in data.MyTickets | orderBy : sort.idTicket : sort.Desc | limitTo : gridPager.Size : gridPager.Skip"
                    data-ng-click="editTicket(w)" data-ng-if="w.idUser==currentUser.Id">
                    <td data-ng-bind="w.idTicket"></td>
                    <td data-ng-bind="w.CategoryName"></td>
                    <td data-ng-bind="w.Building"></td>
                    <td data-ng-bind="w.TimeOpen"></td>
                    <td data-ng-bind="w.Status"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>




<!--<div class="drop-target" data-ng-click="createCellEvent($event)" ondrop="HideLabel()"></div>-->

<div style="display:none" id="prEvent">
    <div class="drag-item ui-widget-content" ondrag="GetEventParams(event)">
        <div class="div-d">
            <span class="event-prm"></span>
        </div>
        <div class="ui-widget-header">
            <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a><a data-ng-click="remEvent($event)" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
    </div>
</div>

<!--<ul>
    <li data-ng-repeat="e in eventData">
        <b data-ng-bind="e.Day"></b> - <span data-ng-bind="e.Time"></span>
    </li>
</ul>-->

<style type="text/css">
    .gridlines {
        display: none;
        position: absolute;
        /*background-color: #ccc;*/
    }

    .drag-item {
        /*direction: rtl;*/
        position: absolute;
        /*width: 40px;*/
        z-index: 100;
        border: none;
    }

        .drag-item .div-d {
            cursor: move;
            height: 20px;
            background-color: #ff8080;
            border-bottom: 1px solid white;
        }

    .div-d span {
        position: relative;
        white-space: nowrap;
        top: -20px;
        font-size: 10px;
    }

    .ui-widget-header {
        height: 20px;
        text-align: center;
        background-color: #49b0ea;
    }

        .ui-widget-header a {
            color: #c6e6f9;
            font-size: 12px;
        }

            .ui-widget-header a:hover {
                color: white;
            }

            .ui-widget-header a:first-child {
                margin-left: 4px;
            }

    .drop-target {
        /*direction: rtl;*/
        position: absolute;
        left: 40px;
        top: 80px;
        width: 522px;
        height: 242px;
        border: dashed 1px #178acc;
    }

    .ui-widget-header {
        border: none;
    }

    .h-lbl {
        font-size: 11px;
        width: 40px;
        text-align: center;
        display: inline-block;
    }

    .v-lbl {
        font-size: 13px;
        font-weight: bold;
        height: 40px;
        padding-top: 15px;
        display: inline-block;
    }

    .event-prm {
        background-color: #d1e9f8;
    }
</style>
